:root {
	--clr--primary: #53b553;
	--font--rubik: 'Rubik', sans-serif;
	--font--open: 'Open Sans', sans-serif;
	--container--padding: 18rem;
	font-size: 14px;
	direction: rtl;
}

* {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	box-sizing: border-box;
	font-family: var(--font--open);
	color: #040707;
	direction: rtl !important;
}

body {
	direction: rtl;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
	margin: 0;
}

a {
	color: #040707;
}

a:hover {
	color: #040707;
	text-decoration: none;
}

a:visited {
	color: #040707;
	text-decoration: none;
}

label {
	font-weight: 400;
}

/**************** header **************/

.header {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.header__top {
	width: 100%;
	padding: 1rem var(--container--padding);
	background-color: #f6f8fa;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.country {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.caret {
  display: inline-block;
  border: 0;
  width: 15px;
  height: 15px;
  background-image: url('../assets/images/Mask\ Group\ 3.svg');
  background-position: center;
}
.country .btn {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.country .dropdown-menu .selected {
	background-color: #e6e8ea !important;
}

.active__tab {
  font-weight: 700;
}

/* .country__select {
	border: 0;
	background-color: #f6f8fa !important;
	cursor: pointer;
} */

/* .country__select * {
	border: 0;
	background-color: #f6f8fa !important;
	box-shadow: none !important;
	outline: 0 !important;
} */

/* .country__select *:hover,
.country__select *:active,
.country__select *:focus-visible,
.country__select *:focus-within,
.country__select *:focus {
	border: 0;
	background-color: #f6f8fa;
	box-shadow: none;
	outline: 0;
} */

/* .country__select *:active:hover {
	border: 0;
	background-color: #f6f8fa;
	box-shadow: none;
	outline: 0;
} */

/* .country__select *:hover, 
.country__select *:focus, 
.country__select *:focus-visible, 
.country__select *:focus-within,
.country__select *:active
{
	background-color: #f6f8fa !important;
	border-color: #f6f8fa !important;
	border: 0 !important;
} */

.country__select option {
	display: block;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.language {
	padding-right: 1rem;
	border-right: 1px solid #818390;
	cursor: pointer;
}

.social__links {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.social__link {
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.social__link:nth-child(3) {
	margin-right: 0.5rem;
}

.login__btn {
	border-right: 1px solid #818390;
	padding-inline: 1rem;
	cursor: pointer;
}

/* navbar */

.navbar {
	width: 100%;
	padding: 1rem var(--container--padding);
	display: flex;
	/* justify-content: space-between; */
	align-items: stretch;
	margin-bottom: 0;
}

.navbar__logo {
}

.navbar__list {
	list-style: none;
	padding-left: 0;
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-inline: auto;
	margin-bottom: 0;
}

.navbar__tab {
	padding: 0.5rem 0.5rem;
	cursor: pointer;
	transition: font-weight 250ms ease-in-out;
	position: relative;
}

.navbar__link:hover {
	font-weight: 700;
	transition: font-weight 250ms ease-in-out;
}

.navbar__select {
	display: flex;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	gap: 0.5rem;
	transition: all 250ms ease-in-out;
}

.navbar__link.navbar__select:hover {
	font-weight: 700;
}

.navbar__select:hover img {
	scale: 1.3;
}

.navbar__select option {
	display: block;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.add__ads {
}

.add__ads__btn {
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	gap: 0.5rem;
	font-size: 1rem;
	font-weight: 700;
	color: #fff;
	background-color: #53b553;
	border: 2px solid #fff;
	box-shadow: 0 0 8px 0 #00000029;
	border-radius: 2rem;
	transition: all 350ms ease-in-out;
	cursor: pointer;
}

.add__ads__btn:hover {
	color: #53b553;
	background-color: #fff;
	border: 2px solid #53b553;
}

#Rectangle_11047,
#Icon_awesome-plus {
	transition: all 350ms ease-in-out;
}

.add__ads__btn:hover #Rectangle_11047,
.add__ads__btn:hover #Icon_awesome-plus {
	fill: #53b553;
}

.btn-group {
	margin-bottom: 0 !important;
}

.dropdown {
	font-size: 1rem;
	background-color: #fff !important;
	border: 0 !important;
}

.dropdown * {
	font-size: 1rem;
	background-color: #fff !important;
	box-shadow: none;
}

.dropdown-backdrop {
	background-color: transparent !important;
}

.dropdown .btn {
	border: 0;
}

.dropdown .btn:hover {
	border: 0;
	box-shadow: none !important;
}

.dropdown .btn:active {
	border: 0;
	box-shadow: none !important;
}

.dropdown .btn:visited {
	border: 0;
	box-shadow: none !important;
	text-decoration: none !important;
}

.btn {
	font-size: 1rem;
}

.dropdown {
	position: unset;
}

.navbar__tab .dropdown-menu {
	flex-direction: column;
	width: 140%;
}

.dropdown-submenu {
	width: 100%;
}

.dropdown-submenu .test {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.dropdown a {
	text-align: right;
}

.dropdown-submenu .dropdown-menu {
	width: 100%;
	top: 0;
	right: 100%;
	margin-top: -1px;
}

.dropdown.open .btn .caret {
	transform: rotate(180deg);
}

.dropdown-submenu .caret {
	width: 20px;
	height: 10px;
	transform: rotate(90deg);
}

.menu__open {
	background-color: #e6e8ea !important;
}

.menu__open .caret {
	background-color: #e6e8ea !important;
}

/* hero */

.hero {
	width: 100%;
	position: relative;
}

.swiper {
	width: 100%;
	position: unset;
}

.swiper-wrapper {
	position: unset;
}

.swiper-slide {
	position: unset;
}

.swiper-button-prev,
.swiper-button-next {
	background-color: var(--clr--primary);
	color: #fff;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	position: absolute;
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	/* transform: translateX(4rem); */
	/* z-index: 100; */
}

.swiper-button-next {
	left: 0;
	transform: translateX(1rem);
}

.swiper-button-prev {
	right: 0;
	transform: translateX(-1rem);
}

.swiper-button-next::after {
	position: absolute;
	left: 50%;
	transform: translateX(-60%);
	z-index: 100;
}

.swiper-button-prev::after {
	position: absolute;
	right: 50%;
	transform: translateX(60%);
	z-index: 100;
}

.hero__img {
	width: 100%;
	max-width: 100%;
	object-fit: cover;
}

/* search & filter */

.search__container {
	padding: 3rem var(--container--padding) 0;
}

.search {
	padding: 1.5rem 2rem;
	display: flex;
	gap: 1rem;
	height: 100%;
	align-items: stretch;
	box-shadow: 0 0 12px 0 #00000029;
	border-radius: 0.5rem;
}

.government__label,
.categories__label {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 25%;
	/* padding: 1rem; */
	border: 1px solid #c9d1df;
	border-radius: 0.25rem;
}

.search__input,
.government__input,
.categories__input {
	border: 0;
	width: 100%;
	padding: 1rem;
	padding-right: 2rem;
	border-radius: 0.25rem;
}

.search__input:focus,
.government__input:focus,
.categories__input:focus {
	outline: 0;
}

datalist {
	position: absolute;
	background-color: white;
	border: 1px solid #c9d1df;
	border-radius: 0.25rem;
	font-family: sans-serif;
	width: 100%;
	top: 105%;
	padding: 0.5rem;
	max-height: 10rem;
	overflow-y: auto;
	z-index: 2;
}

datalist option {
	background-color: white;
	padding: 0.25rem;
	color: #000;
	margin-bottom: 0.1rem;
	font-size: 1rem;
	cursor: pointer;
}

datalist option:hover {
	background-color: #c9d1df;
}

.active {
	background-color: #c9d1df;
}

.select__arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0.5rem;
}

.search__label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45%;
	border: 1px solid #c9d1df;
	border-radius: 0.25rem;
}

.search__btn {
	width: 5%;
	aspect-ratio: 75/69;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.25rem;
	background-color: #53b553;
	transition: background-color 350ms ease-in-out;
	cursor: pointer;
}

.search__btn:hover {
	background-color: #53b55399;
}

/* all categories */

.all__categories {
	width: 100%;
	padding: 3rem var(--container--padding) 0;
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.all__categories__title {
	font-size: 1.75rem;
	font-weight: 400;
}

.categories__cards__container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem 0;
	justify-content: space-between;
}

.categories__card {
	width: 15.4%;
	padding: 1rem;
	aspect-ratio: 1;
	display: flex;
	background-color: #eff1f7;
	border-radius: 1.125rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 0.5rem;
	cursor: pointer;
	transition: background-color 350ms ease-in-out;
}

.categories__card:hover {
	background-color: #53b55355;
}

.categories__card:last-child {
	margin-left: auto;
	margin-right: 1rem;
}

.card__title {
	font-family: var(--font--rubik);
	width: 100%;
	font-size: 1.125rem;
	font-weight: 400;
}

.card__text {
	font-family: var(--font--rubik);
	width: 100%;
	font-size: 0.875rem;
	color: #818391;
	font-weight: 300;
}

.wishlist__icon {
	cursor: pointer;
	width: 17px;
	aspect-ratio: 1;
	transition: all 350ms ease-in-out;
}

.wishlist__icon:hover {
	/* content: url('../assets/images/heart-fill.svg'); */
	width: 20px;
	aspect-ratio: 1;
}

/* featured ads & latest ads*/

.featured__ads,
.latest__ads {
	width: 100%;
	padding: 3rem var(--container--padding) 0;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.latest__ads {
	gap: 3rem;
}

.featured__ads__title,
.latest__ads__title {
	font-family: var(--font--rubik);
	font-size: 1.75rem;
	font-weight: 400;
}

.featured__ads__cards__container,
.latest__ads__cards__container {
	width: 100%;
	display: flex;
	gap: 1rem 0;
	justify-content: space-between;
}

.latest__ads__cards__container {
	flex-wrap: wrap;
}

.main__card {
	width: 24%;
	display: flex;
	flex-direction: column;
	border: 1px solid #e3e7ef;
	border-radius: 0.5rem;
	position: relative;
	cursor: pointer;
}

.star {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.25rem;
	background-color: #ffffff66;
	border-radius: 0.25rem;
}

.main__card__img {
	width: 100%;
}

.main__card__content {
	width: 100%;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.main__card__title {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: var(--font--rubik);
	font-size: 1.125rem;
	color: #2d3142;
}

.main__card__price {
	width: 100%;
	font-family: var(--font--rubik);
	font-size: 1.375rem;
	color: #2d3142;
	font-weight: 500;
}

.main__card__more__info {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.more__info__img {
	width: 20px;
	border-radius: 0.25rem;
	padding: 0.25rem;
	background-color: #eff1f7;
}

.main__card__more__info__text {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	font-family: var(--font--rubik);
	font-weight: 300;
	font-size: 0.875rem;
	color: #818391;
}

.main__card__footer {
	border-top: 1px solid #eff1f7;
	padding-block: 1rem 0.5rem;
}

.main__card__footer__text {
	font-family: var(--font--rubik);
	font-weight: 300;
	font-size: 0.875rem;
	color: #818391;
}

.pagination {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.page {
	font-family: var(--font--rubik);
	font-weight: 500;
	color: #818391;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	aspect-ratio: 1;
	border-radius: 0.75rem;
	box-shadow: 0 0 2px;
	cursor: pointer;
}

.page.active {
	background-color: #53b553;
	color: #fff;
}

.page:not(.active):hover {
	background-color: #53b55399;
	color: #fff;
}

.last {
	cursor: pointer;
	transform: rotate(180deg);
}

/*********** try app **************/

.try__app {
	margin-top: 15rem;
	width: 100%;
	padding: 3rem var(--container--padding);
	position: relative;
	background-color: #fcfcfc;
}

.try__app__content {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.try__app__title {
	width: 100%;
	font-size: 4rem;
	font-weight: 500;
	font-family: var(--font--rubik);
	text-transform: uppercase;
}

.try__app__text {
	width: 50%;
	font-family: var(--font--rubik);
	color: #818391;
	font-weight: 300;
}

.try__app__actions,
.download__app__actions {
	display: flex;
	gap: 1rem;
}

.download__app {
	cursor: pointer;
}

.try__app__img {
	position: absolute;
	bottom: -7rem;
	right: 50%;
	width: 40%;
	aspect-ratio: 1;
	pointer-events: none;
}

/********* ad modal **********/

.ad__modal,
.swiper__ad__modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #00000055;
	backdrop-filter: blur(1.5rem);
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper__ad__modal .swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ad__modal__container {
	width: 30%;
	aspect-ratio: 1;
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: #fff;
	border-radius: 1.5rem;
	flex-shrink: 0;
}

.close__modal__btn {
	cursor: pointer;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.modal__content {
	width: 100%;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.modal__title {
	font-family: var(--font--rubik);
	font-weight: 500;
	font-size: 1.5rem;
}

.modal__details {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.view__icon,
.like__icon {
	width: 35px;
	aspect-ratio: 1;
	cursor: pointer;
}

.modal__footer {
	padding-block: 1rem;
	border-top: 1px solid #f5f5f5;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem 0;
}

.contact__number,
.whatsapp__number,
.website__link,
.instagram__link {
	width: 49%;
	display: flex;
	align-items: center;
	gap: 1rem;
	cursor: pointer;
}

/********** footer ***********/

.footer {
	width: 100%;
	padding: 3rem var(--container--padding);
	background-color: #f6f8fa;
	display: flex;
	flex-direction: column;
}

.footer__content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-bottom: 3rem;
}

.footer__content__left,
.footer__content__middle,
.footer__content__right {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.footer__links__container {
	display: flex;
	gap: 6rem;
}

.footer__links {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.footer__content__title:first-of-type {
	font-family: var(--font--rubik);
	font-weight: 500;
	font-size: 0.875rem;
	color: #2d3142;
	margin-bottom: 1rem;
}

.footer__link {
	font-family: var(--font--rubik);
	font-weight: 300;
	font-size: 0.8125rem;
	color: #818391;
	cursor: pointer;
}

.social__media__links {
	margin-block: -1rem 2rem;
	display: flex;
	gap: 1rem;
}

.social__media__link {
	cursor: pointer;
}

.download__app {
	cursor: pointer;
}

.copyrights {
	width: 100%;
	border-top: 1px solid #e3e7ef;
	padding-top: 3rem;
	text-align: center;
	color: #818391;
}

@media (max-width: 1800px) {
	.try__app {
		margin-top: 10rem;
	}
}

@media (max-width: 1700px) {
	.try__app {
		margin-top: 5rem;
	}
	.ad__modal__container {
		width: 35%;
	}
}

@media (max-width: 1600px) {
	.try__app {
		margin-top: 5rem;
	}

	.try__app__img {
		bottom: -5rem;
	}
}

@media (max-width: 1500px) {
	:root {
		--container--padding: 13rem;
	}
}

@media (max-width: 1400px) {
	:root {
		--container--padding: 8rem;
	}

	.try__app {
		margin-top: 3rem;
	}
	.ad__modal__container {
		width: 40%;
	}
}

@media (max-width: 1300px) {
	.try__app__img {
		bottom: -3rem;
	}
	.ad__modal__container {
		width: 45%;
	}
}

@media (max-width: 1200px) {
	:root {
		--container--padding: 5rem;
	}

	.try__app__content {
		width: 60%;
	}

	.try__app {
		margin-top: 1rem;
	}

	.try__app__img {
		right: 60%;
	}
	.swiper-button-next {
		scale: 0.9;
	}

	.swiper-button-prev {
		scale: 0.9;
	}
}
@media (max-width: 1100px) {
	.ad__modal__container {
		width: 50%;
	}
}
@media (max-width: 1000px) {
	:root {
		font-size: 14px;
	}

	.footer__links__container {
		gap: 3rem;
	}
	.swiper-button-next {
		scale: 0.8;
	}

	.swiper-button-prev {
		scale: 0.8;
	}
}

@media (max-width: 900px) {
	.search {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.government__label,
	.categories__label {
		width: 48%;
	}

	.search__label {
		width: 89%;
	}

	.search__btn {
		width: 8%;
	}

	.categories__cards__container {
		width: 100%;
		justify-content: flex-start;
		gap: 1rem;
	}

	.categories__card {
		width: 23%;
		justify-content: center;
	}

	.categories__card:last-child {
		margin-right: 0;
	}

	.featured__ads__cards__container {
		flex-wrap: wrap;
	}

	.featured__ads .main__card {
		width: calc(33% - 0.75rem);
	}

	.latest__ads .main__card {
		width: calc(33% - 0.75rem);
	}

	.try__app__img {
		right: 50%;
		width: 50%;
		bottom: -1rem;
	}
	.ad__modal__container {
		width: 55%;
	}

	.footer__links__container {
		gap: 2rem;
	}
}

@media (max-width: 800px) {
	.navbar {
		margin-bottom: 0;
	}
	.dropdown-submenu,
	.dropdown-submenu .dropdown-menu {
		position: relative;
	}
	.dropdown-submenu .dropdown-menu {
		top: 100%;
		right: 0;
		margin-top: -1px;
	}
	.dropdown-submenu .caret {
		width: 10px;
		height: 20px;
		transform: rotate(0);
	}
	.search__container {
		padding-block: 3rem;
	}
	.try__app__img {
		right: 45%;
		width: 60%;
		bottom: -2rem;
	}
	.ad__modal__container {
		width: 60%;
	}
	.footer__content {
		flex-wrap: wrap;
	}
	.footer__content__left {
		width: 40%;
	}
	.footer__content__middle {
		width: 60%;
	}
	.footer__links__container {
		gap: 6rem;
	}
	.footer__content__right {
		text-align: center;
		margin-top: 3rem;
		margin-inline: auto;
	}
	.social__media__links {
		justify-content: center;
		margin-bottom: 0;
	}
}

@media (max-width: 750px) {
	:root {
		--container--padding: 2rem;
	}
	.latest__ads .main__card {
		width: calc(50% - 0.75rem);
	}
	.featured__ads .main__card {
		width: calc(50% - 0.75rem);
	}

	.categories__card {
		width: calc(50% - 0.75rem);
	}
	.ad__modal__container {
		width: 75%;
	}
	.footer__links__container {
		gap: 3rem;
	}
}

@media (max-width: 700px) {
	.try__app__img {
		display: none;
	}

	.try__app__content {
		width: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 1rem;
	}
}

@media (max-width: 650px) {
	.navbar {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.navbar__logo {
		order: 0;
		margin-left: auto;
	}

	.navbar__list {
		order: 2;
	}

	.add__ads {
		order: 1;
	}
	.swiper-button-next {
		scale: 0.7;
	}

	.swiper-button-prev {
		scale: 0.7;
	}
}

@media (max-width: 600px) {
	.search__container {
		padding-block: 2rem;
	}

	.search {
		padding-inline: 1rem;
	}

	.search__label {
		width: 86%;
	}

	.search__btn {
		width: 10%;
	}

	.categories__cards__container {
		justify-content: space-between;
	}

	.categories__card {
		width: 48.25%;
	}

	.all__categories,
	.latest__ads,
	.featured__ads {
		gap: 3rem;
	}

	.try__app {
		margin-top: 0;
	}

	.try__app__title {
		font-size: 2rem;
	}

	.try__app__text {
		width: 100%;
	}
	.ad__modal__container {
		width: 90%;
	}
	.footer__content {
		flex-direction: column;
		gap: 2rem;
	}

	.footer__content__left {
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.footer__content__title:first-of-type {
		width: 100%;
		text-align: center;
		margin-bottom: 0;
	}

	.footer__content__middle {
		width: 100%;
		align-items: center;
	}

	.footer__links__container {
		width: 100%;
		justify-content: space-around;
	}

	.footer__content__right {
		width: 100%;
		margin-top: 0;
		gap: 1rem;
	}

	.social__media__links {
		margin-block: 0;
	}

	.download__app__actions {
		justify-content: center;
	}
}

@media (max-width: 550px) {
	.search {
		gap: 0.5rem;
	}

	.government__label,
	.categories__label {
		width: 100%;
	}

	.search__label {
		width: 82%;
	}

	.search__btn {
		width: 15%;
	}

	.featured__ads .main__card,
	.latest__ads .main__card {
		width: 100%;
	}
}
@media (max-width: 500px) {
	.ad__modal__container {
		width: 95%;
	}

	.modal__content {
		padding-inline: 1rem;
	}

	.contact__number,
	.whatsapp__number,
	.website__link,
	.instagram__link {
		gap: 0.5rem;
	}
}
@media (max-width: 460px) {
	:root {
		--container--padding: 1rem;
	}

	.navbar__list {
		width: 100%;
		margin-inline: 0;
		gap: 0.5rem;
		justify-content: space-between;
	}

	.navbar__tab {
		padding-inline: 0;
	}

	.country {
		gap: 0.5rem;
	}

	.social__links {
		gap: 0.25rem;
	}

	.social__link:nth-child(3) {
		margin-right: 0;
	}

	.login__btn {
		padding-inline: 0.5rem 0.25rem;
	}

	.categories__card {
		width: 47%;
	}

	.navbar__tab {
		position: unset;
	}
	.modal__footer {
		justify-content: center;
	}

	.contact__number,
	.whatsapp__number,
	.website__link,
	.instagram__link {
		width: 100%;
		gap: 2rem;
	}
}
