:root {
	--clr--primary: #53b553;
	--font--rubik: 'Rubik', sans-serif;
	--font--open: 'Open Sans', sans-serif;
	--container--padding: 18rem;
	font-size: 14px;
	direction: rtl;
}

* {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	box-sizing: border-box;
	font-family: var(--font--open);
	color: #040707;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
	margin: 0;
}

a {
	color: #040707;
}
a:hover {
	color: #040707;
	text-decoration: none;
}
a:visited {
	color: #040707;
	text-decoration: none;
}

label {
	font-weight: 400;
}

/**************** header **************/

.header {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.header__top {
	width: 100%;
	padding: 1rem var(--container--padding);
	background-color: #f6f8fa;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.country {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.caret {
  display: inline-block;
  border: 0;
  width: 15px;
  height: 15px;
  background-image: url('../assets/images/Mask\ Group\ 3.svg');
  background-position: center;
}
.country .btn {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.country .dropdown-menu .selected {
	background-color: #e6e8ea !important;
}

.active__tab {
  font-weight: 700;
}

/* .country__select {
	border: 0;
	background-color: #f6f8fa !important;
	cursor: pointer;
} */

/* .country__select * { */
/* border: 0; */
/* background-color: #f6f8fa !important; */
/* box-shadow: none !important; */
/* outline: 0 !important; */
/* } */
/* .country__select *:hover, */
/* .country__select *:active, */
/* .country__select *:focus-visible, */
/* .country__select *:focus-within, */
/* .country__select *:focus { */
/* border: 0; */
/* background-color: #f6f8fa; */
/* box-shadow: none; */
/* outline: 0; */
/* } */
/* .country__select *:active:hover { */
/* border: 0; */
/* background-color: #f6f8fa; */
/* box-shadow: none; */
/* outline: 0; */
/* } */

/* .country__select *:hover, 
.country__select *:focus, 
.country__select *:focus-visible, 
.country__select *:focus-within,
.country__select *:active
{
	background-color: #f6f8fa !important;
	border-color: #f6f8fa !important;
	border: 0 !important;
} */

.country__select option {
	display: block;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.language {
	padding-right: 1rem;
	border-right: 1px solid #818390;
	cursor: pointer;
}

.social__links {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.social__link {
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.social__link:nth-child(3) {
	margin-right: 0.5rem;
}

.login__btn {
	border-left: 1px solid #818390;
	padding-inline: 1rem;
	cursor: pointer;
}

/* navbar */

.navbar {
	width: 100%;
	padding: 1rem var(--container--padding);
	display: flex;
	/* justify-content: space-between; */
	align-items: stretch;
	margin-bottom: 0;
}

.navbar__logo {
}

.navbar__list {
	list-style: none;
	padding-left: 0;
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-inline: auto;
	margin-bottom: 0;
}

.navbar__tab {
	padding: 0.5rem 0.5rem;
	cursor: pointer;
	transition: font-weight 250ms ease-in-out;
	position: relative;
}

.navbar__link:hover {
	font-weight: 700;
	transition: font-weight 250ms ease-in-out;
}

.navbar__select {
	display: flex;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	gap: 0.5rem;
	transition: all 250ms ease-in-out;
}

.navbar__link.navbar__select:hover {
	font-weight: 700;
}
.navbar__select:hover img {
	scale: 1.3;
}

.navbar__select option {
	display: block;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.add__ads {
}

.add__ads__btn {
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	gap: 0.5rem;
	font-size: 1rem;
	font-weight: 700;
	color: #fff;
	background-color: #53b553;
	border: 2px solid #fff;
	box-shadow: 0 0 8px 0 #00000029;
	border-radius: 2rem;
	transition: all 350ms ease-in-out;
	cursor: pointer;
}
.add__ads__btn:hover {
	color: #53b553;
	background-color: #fff;
	border: 2px solid #53b553;
}
#Rectangle_11047,
#Icon_awesome-plus {
	transition: all 350ms ease-in-out;
}
.add__ads__btn:hover #Rectangle_11047,
.add__ads__btn:hover #Icon_awesome-plus {
	fill: #53b553;
}

.btn-group {
	margin-bottom: 0 !important;
}

.dropdown {
	font-size: 1rem;
	background-color: #fff !important;
	border: 0 !important;
}

.dropdown * {
	font-size: 1rem;
	background-color: #fff !important;
	box-shadow: none;
}

.dropdown .btn {
	border: 0;
}
.dropdown .btn:hover {
	border: 0;
	box-shadow: none !important;
	font-weight: 700;
}
.dropdown .btn:active {
	border: 0;
	box-shadow: none !important;
}
.dropdown .btn:visited {
	border: 0;
	box-shadow: none !important;
	text-decoration: none !important;
}

.btn {
	font-size: 1rem;
}

.dropdown {
	position: unset;
}

.dropdown-menu {
	flex-direction: column;
	width: 140%;
}
.dropdown-submenu {
	width: 100%;
}
.dropdown-submenu .test {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.dropdown-submenu .dropdown-menu {
	width: 100%;
	top: 0;
	right: 100%;
	margin-top: -1px;
}

.dropdown.open .btn .caret {
	transform: rotate(180deg);
}

.dropdown-submenu .caret {
	width: 20px;
	height: 10px;
	transform: rotate(-270deg);
}

.menu__open {
	background-color: #e6e8ea !important;
}
.menu__open .caret {
	background-color: #e6e8ea !important;
}

.account {
  display: flex;
  align-self: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.account__details {
  /* border-left: 1px solid #E3E7EF;
  border-right: 1px solid #E3E7EF; */
  margin-left: 1rem;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  cursor: pointer;
}

.account__details::before,
.account__details::after {
  content: "";
  position: absolute;
  background-color: #e3e7ef;
  width: 1px;
  top: 0.5rem;
  bottom: 0.5rem;
}

.account__details::before {
  left: 0;
}

.account__details::after {
  right: 0;
}

.account__details .account__name {
  color: #818391;
}

.account__details .account__img {
  width: 45px;
  border-radius: 100%;
}

.account__popup {
  display: none;
  width: 100%;
  position: absolute;
  top: 150%;
  right: 1rem;
  background-color: #fff;
  box-shadow: 0 0 8px 2px #00000029;
	z-index: 1000;
}

.popup__header {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e3e7ef;
}

.account__content__details {
  width: 85%;
  display: flex;
  flex-direction: column;
}

.popup__header .account__img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  aspect-ratio: 1;
}

.account__number {
  font-size: 0.75rem;
  color: #818391;
}

.popup__content {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile,
.my__ads,
.my__bundle,
.my__favorites {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.profile:hover,
.change__password:hover,
.my__ads:hover,
.my__bundle:hover,
.my__favorites:hover {
  font-weight: 700;
}

.chat__icon {
	cursor: pointer;
}

.my__bundle img{
  width: 24px;
  height: 24px;
  padding: 0.275rem;
}

.popup__footer {
  display: flex;
  gap: 0.5rem;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  border-top: 1px solid #e3e7ef;
  align-items: center;
  cursor: pointer;
}

.logout__icon {
  width: 24px;
  height: 24px;
  padding: 0.05rem;
}

/* safety rules section */

.safety-rules {
  width: 100%;
}

.safety-rules__title {
  padding: 2rem var(--container--padding);
  color: #040707;
  background-color: #F6F8FA;
  font-family: var(--font--rubik);
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.breadcrumbs,
.breadcrumbs__link {
  font-size: 0.875rem;
  font-family: var(--font--rubik);
  color: #818391;
}

.breadcrumbs {
	display: flex;
	align-items: center;
}
.breadcrumbs__link {
  cursor: pointer;
}
.breadcrumbs__arrow {
	rotate: 180deg;
}

.safety-rules__content {
  padding: 2rem var(--container--padding);
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-areas: "content right"
                        "properties-title right"
                        "properties right"
                        "description-title right"
                        "description right"
                        "amenities-title right"
                        "amenities right"
                        "assestive right";
  position: relative;
  gap: 1rem;
  margin-bottom: 5rem;
}

.right__sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-area: right;
  /* min-width: 220px; */
}

.sidebar__card,
.seller__card,
.location__card {
  border: 1px solid #E3E7EF;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 0.25rem;
}

.sidebar__card__title {
  font-size: 2rem;
  color: #2D3142;
  font-family: var(--font--rubik);
  font-weight: 500;
  display: flex;
  align-items: center;
}

.share__icon {
  margin-right: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.sidebar__text {
  font-weight: 1.125rem;
  font-weight: 400;
  font-family: var(--font--rubik);
  color: #2D3142;
}

.sidebar__more__info {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
  gap: 2rem;
}

.more__info__img {
	width: 20px;
	border-radius: 0.25rem;
	padding: 0.25rem;
	background-color: #eff1f7;
}

.sidebar__more__info__text {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	font-family: var(--font--rubik);
	font-weight: 300;
	font-size: 0.875rem;
	color: #818391;
}

.sidebar__footer {
	border-top: 1px solid #eff1f7;
	padding-top: 1rem;
}

.sidebar__footer__text {
	font-family: var(--font--rubik);
	font-weight: 300;
	font-size: 0.875rem;
	color: #818391;
}

.card__title {
  font-weight: 500;
  font-family: var(--font--rubik);
  font-size: 1.5rem;
  color: #2D3142;
}

.seller__card__details {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.seller__img {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 100%;
}

.seller__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name {
  font-family: var(--font--rubik);
  font-size: 0.875rem;
  color: #2D3142;
}

.phone__number {
  font-family: var(--font--rubik);
  font-size: 0.875rem;
  color: #53B553;
  font-weight: 300;
}

.see__all {
  font-family: var(--font--rubik);
  font-size: 0.75rem;
  font-weight: 300;
  color: #818391;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
}

.arrow {
  transform: rotate(90deg);
}

.chat__btn {
  width: 100%;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  background-color: #53B553;
  text-align: center;
}

.chat__btn:hover {
  color: #fff;
  background-color: #53B55399;
}

.card__text {
  font-family: var(--font--rubik);
  color: #818391;
  font-size: 0.875rem;
}

.location__map {
  width: 100%;
  border: 0;
}

.wishlist__icon {
	cursor: pointer;
	width: 20px;
	aspect-ratio: 1;
	transition: all 350ms ease-in-out;
}

.wishlist__icon:hover {
	/* content: url('../assets/images/heart-fill.svg'); */
	width: 22px;
	aspect-ratio: 1;
}

/* .content__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */

.content__container__images {
  width: 100%;
  display: flex;
  gap: 1rem;
  grid-area: content;
}

.main__img__container {
  width: 85%;
  border-radius: 0.5rem;
  position: relative;
}

.main__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.star__icon,
.icons {
  position: absolute;
  top: 1rem;
}

.star__icon {
  right: 1rem;
	width: 30px;
	height: 30px;
  cursor: pointer;
	opacity: 0.75;
	background-color: #fff;
	border-radius: 0.5rem;
}

.icons {
  left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.edit__icon,
.delete__icon {
  position: relative;
  cursor: pointer;
}

.edit__icon:after,
.delete__icon:after {
  position: absolute;
  display: none;
  top: 110%;
  right: 0;
  border-radius: 0.5rem;
  z-index: 1000;
  padding: 0.25rem 0.5rem;
  color: #2d3142;
  background-color: #FFFFFF;
  font-size: 0.875rem;
}

.edit__icon::after {
  content: "Edit";
}
.delete__icon::after {
  content: "Delete";
}

.edit__icon:hover::after,
.delete__icon:hover::after {
  display: inline-block;
}

.sub__imgs {
  width: 15%;
  display: flex;
  flex-direction: column;
	justify-content: space-between;
  gap: 1rem;
}

.sub__img {
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.properties__title {
  font-family: var(--font--rubik);
  font-weight: 500;
  color: #2D3142;
  font-size: 0.875rem;
  text-transform: capitalize;
  grid-area: properties-title;
}

.description__title {
  font-family: var(--font--rubik);
  font-weight: 500;
  color: #2D3142;
  font-size: 0.875rem;
  text-transform: capitalize;
  grid-area: description-title;
}

.properties,
.description,
.amenities {
  background-color: #F6F8FA;
  border: 1px solid #E3E7EF;
  border-radius: 0.25rem;
  padding: 1rem;
  display: flex;
}

.properties {
  grid-area: properties;
}

.description {
  grid-area: description;
}

.amenities {
  grid-area: amenities;
  display: flex;
  align-items: center;
  gap: 10%;
}

.security,
.elevator,
.air-conditioner,
.garage {
  font-family: var(--font--rubik);
  font-size: 0.875rem;
  color: #2D3142;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.description__text {
  font-family: var(--font--rubik);
  font-size: 0.875rem;
  color: #2D3142;
}

.properties__left,
.properties__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
}

.properties__left {
  padding-left: 15%;
  border-left: 1px solid #EAECF0;
}

.properties__right {
  padding-right: 15%;
}

.properties__text {
  font-family: var(--font--rubik);
  font-size: 0.875rem;
  color: #585A64;
  display: flex;
	/* flex-direction: row-reverse; */
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #8183911A;
  padding-block: 0.5rem;
}

.properties__side {
  font-family: var(--font--rubik);
  font-weight: 500;
  font-size: 0.875rem;
  color: #585A64;
}

.properties__text:last-child {
  border-bottom: 0;
}

.assestive {
  display: flex;
  align-items: center;
  gap: 5rem;
  grid-area: assestive;
}

.translate,
.report {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font--rubik);
  font-size: 0.75rem;
  color: #818391;
  cursor: pointer;
}


/********* ad modal **********/

.report__modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #00000055;
	backdrop-filter: blur(1.5rem);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.report__modal__container {
	width: 30%;
	aspect-ratio: 1;
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: #fff;
	border-radius: 1.5rem;
	flex-shrink: 0;
}

.close__modal__btn {
	cursor: pointer;
	position: absolute;
	top: 1rem;
	left: 1rem;
}

.modal__content {
	width: 100%;
	padding: 2rem 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.modal__title {
	font-family: var(--font--rubik);
	font-weight: 500;
	font-size: 1.25rem;
  color: #2D3142;
}

.modal__text {
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--font--rubik);
  color: #818391;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label,.comment__label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #333333;
  font-size: 1rem;
  font-family: var(--font--rubik);
  font-weight: 400;
}

.label input {
  margin-top: 0;
}

textarea {
  resize: none;
  border: 1px solid #e3e7ef;
  color: #333;
  font-size: 0.875rem;
  width: 100%;
  height: 200px;
  padding: 1rem;
  border-radius: 1rem;
}

.submit__btn {
  width: 100%;
  text-align: center;
  background-color: var(--clr--primary);
  color: #fff !important;
  padding: 1rem 2rem;
}

.modal__details {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.view__icon,
.like__icon {
	width: 35px;
	aspect-ratio: 1;
}

.modal__footer {
	padding-block: 1rem;
	border-top: 1px solid #f5f5f5;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem 0;
}

.contact__number,
.whatsapp__number,
.website__link,
.instagram__link {
	width: 49%;
	display: flex;
	align-items: center;
	gap: 1rem;
	cursor: pointer;
}

.delete__modal,
.favorite__modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #00000055;
	backdrop-filter: blur(1.5rem);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.favorite__modal {
	/* background-color: transparent; */
	backdrop-filter: none;
}

.favorite__modal__header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #2d3142;
	border-bottom: 1px solid #e8e8e8;
	padding: 1rem;
	font-family: var(--font--rubik);
	font-size: 1.5rem;
	font-weight: 400;
}


.favorite__modal__content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.content__text {
	width: 100%;
	background-color: #d4edda;
	color: #3c674b;
	padding: 0.75rem 1rem;
	font-family: var(--font--rubik);
	font-size: 1rem;
	font-weight: 400;
	border-radius: 0.5rem;
}

.favorite__modal__footer {
	border-top: 1px solid #e8e8e8;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
}

.close__btn {
	width: 12px;
	aspect-ratio: 1;
	cursor: pointer;
}

.confirm__btn {
	background-color: var(--clr--primary);
	color: #fff;
	font-family: var(--font--rubik);
	font-size: 1rem;
	font-weight: 400;
	padding: 0.5rem 1rem;
	cursor: pointer;
	border-radius: 0.5rem;
}

.confirm__btn:hover {
	background-color: var(--clr--primary--hover);
	color: #fff;
}

.delete__modal__container,
.modal__container {
	width: 30%;
	/* aspect-ratio: 1; */
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: #fff;
	border-radius: 1.5rem;
	flex-shrink: 0;
}

.modal__container {
	border-radius: 0.5rem;
	padding: 0 1rem;
}

.close__modal__btn {
	cursor: pointer;
	position: absolute;
	top: 1rem;
	right: 1rem;
}


/********** footer ***********/

.footer {
	width: 100%;
	padding: 3rem var(--container--padding);
	background-color: #f6f8fa;
	display: flex;
	flex-direction: column;
}

.footer__content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-bottom: 3rem;
}

.footer__content__left,
.footer__content__middle,
.footer__content__right {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.footer__links__container {
	display: flex;
	gap: 6rem;
}

.footer__links {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.footer__content__title:first-of-type {
	font-family: var(--font--rubik);
	font-weight: 500;
	font-size: 0.875rem;
	color: #2d3142;
	margin-bottom: 1rem;
}

.footer__link {
	font-family: var(--font--rubik);
	font-weight: 300;
	font-size: 0.8125rem;
	color: #818391;
	cursor: pointer;
}

.social__media__links {
	margin-block: -1rem 2rem;
	display: flex;
	gap: 1rem;
}

.social__media__link {
	cursor: pointer;
}

.download__app {
	cursor: pointer;
}

.copyrights {
	width: 100%;
	border-top: 1px solid #e3e7ef;
	padding-top: 3rem;
	text-align: center;
	color: #818391;
}
/* responsive part */
@media (max-width: 1800px) {
	.try__app {
		margin-top: 8rem;
	}
}
@media (max-width: 1700px) {
	.try__app {
		margin-top: 5rem;
	}
	.report__modal__container {
		width: 35%;
	}
	.delete__modal__container {
    width: 35%;
  }
	.favorite__modal .modal__container {
		width: 35%;
	}
}
@media (max-width: 1600px) {
	.try__app {
		margin-top: 3rem;
	}
	.try__app__img {
		bottom: -5rem;
	}
}
@media (max-width: 1500px) {
	:root {
		--container--padding: 13rem;
	}
}
@media (max-width: 1400px) {
	:root {
		--container--padding: 8rem;
	}
	.try__app {
		margin-top: 1rem;
	}
	.report__modal__container {
		width: 40%;
	}
	.delete__modal__container {
    width: 40%;
  }
		.favorite__modal .modal__container {
			width: 40%;
		}
}
@media (max-width: 1300px) {
	.try__app__img {
		bottom: -3rem;
	}
	.report__modal__container {
		width: 45%;
	}
	.delete__modal__container {
		width: 45%;
	}
		.favorite__modal .modal__container {
			width: 45%;
		}
}
@media (max-width: 1200px) {
	:root {
		--container--padding: 5rem;
	}
	.try__app__content {
		width: 60%;
	}
	.try__app {
		margin-top: 1rem;
	}
	.try__app__img {
		left: 60%;
	}
	.swiper-button-next {
		scale: 0.9;
	}
	.swiper-button-prev {
		scale: 0.9;
	}
}
@media (max-width: 1100px) {
	.report__modal__container {
		width: 50%;
	}
	.delete__modal__container {
		width: 50%;
	}
		.favorite__modal .modal__container {
			width: 50%;
		}
}
@media (max-width: 1000px) {
	:root {
		font-size: 14px;
	}
	.footer__links__container {
		gap: 3rem;
	}
	.safety-rules__content {
    grid-template-columns: 1fr;
    grid-template-areas: "content"
        "right"
        "properties-title"
        "properties"
        "description-title"
        "description"
        "amenities-title"
        "amenities"
        "assestive";
  }
  .right__sidebar {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sidebar__card,
  .seller__card {
    width: calc(50% - 0.5rem);
  }
  .location__card {
    width: calc(50% - 0.5rem);
  }
}
@media (max-width: 900px) {
	.search {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.government__label,
	.categories__label {
		width: 48%;
	}
	.search__label {
		width: 89%;
	}
	.search__btn {
		width: 8%;
	}
	.categories__cards__container {
		width: 100%;
		justify-content: flex-start;
		gap: 1rem;
	}
	.categories__card {
		width: 23%;
		justify-content: center;
	}
	.categories__card:last-child {
		margin-left: 0;
	}
	.featured__ads__cards__container {
		flex-wrap: wrap;
	}
	.featured__ads .main__card {
		width: 49%;
	}
	.latest__ads .main__card {
		width: 32%;
	}
	.try__app__img {
		left: 50%;
		width: 50%;
		bottom: -1rem;
	}
	.report__modal__container {
		width: 55%;
	}
	.delete__modal__container {
		width: 55%;
	}
		.favorite__modal .modal__container {
			width: 55%;
		}
	.footer__links__container {
		gap: 2rem;
	}
}
@media (max-width: 860px) {
	.navbar {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.navbar__logo {
		order: 0;
	}
	.navbar__list {
		order: 2;
	}
  .account {
		order: 1;
		margin-right: auto;
  }
	.add__ads {
		order: 1;
	}
	.swiper-scrollbar {
    top: 6% !important;
  }
  .card {
    width: calc(50% - 0.5rem);
  }
}
@media (max-width: 800px) {
	.navbar {
		margin-bottom: 0;
	}
	.dropdown-submenu,
	.dropdown-submenu .dropdown-menu {
		position: relative;
	}
	.dropdown-submenu .dropdown-menu {
		top: 100%;
		right: 0;
		margin-top: -1px;
	}
	.dropdown-submenu .caret {
		width: 10px;
		height: 20px;
		transform: rotate(0);
	}
	.search__container {
		padding-block: 3rem;
	}
	.try__app__img {
		left: 45%;
		width: 60%;
		bottom: -2rem;
	}
	.report__modal__container {
		width: 60%;
	}
	.delete__modal__container {
		width: 60%;
	}
		.favorite__modal .modal__container {
			width: 60%;
		}
	.footer__content {
		flex-wrap: wrap;
	}
	.footer__content__left {
		width: 40%;
	}
	.footer__content__middle {
		width: 60%;
	}
	.footer__links__container {
		gap: 6rem;
	}
	.footer__content__right {
		text-align: center;
		margin-top: 3rem;
		margin-inline: auto;
	}
	.social__media__links {
		justify-content: center;
		margin-bottom: 0;
	}
}
@media (max-width: 750px) {
	:root {
		--container--padding: 2rem;
	}
	.latest__ads .main__card {
		width: 49%;
	}
	.categories__card {
		width: 31.5%;
	}
	.footer__links__container {
		gap: 3rem;
	}
	.report__modal__container {
		width: 75%;
	}
	.delete__modal__container {
		width: 75%;
	}
		.favorite__modal .modal__container {
			width: 75%;
		}
}
@media (max-width: 700px) {
	.try__app__img {
		display: none;
	}
	.try__app__content {
		width: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 1rem;
	}
	.sidebar__card,
	.location__card {
		width: 100%;
	}
}
@media (max-width: 650px) {
	.navbar {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.navbar__logo {
		order: 0;
		margin-right: auto;
	}
	.navbar__list {
		order: 2;
	}
	.add__ads {
		order: 1;
	}
	.swiper-button-next {
		scale: 0.7;
	}

	.swiper-button-prev {
		scale: 0.7;
	}
}
@media (max-width: 600px) {
	.search__container {
		padding-block: 2rem;
	}
	.search {
		padding-inline: 1rem;
	}
	.search__label {
		width: 86%;
	}
	.search__btn {
		width: 10%;
	}
	.categories__cards__container {
		justify-content: space-between;
	}
	.categories__card {
		width: 48.25%;
	}
	.all__categories,
	.latest__ads,
	.featured__ads {
		gap: 3rem;
	}
	.amenities {
    gap: 1.5rem;
    flex-wrap: wrap;
  }
	.try__app {
		margin-top: 0;
	}
	.try__app__title {
		font-size: 2rem;
	}
	.try__app__text {
		width: 100%;
	}
	.report__modal__container {
		width: 90%;
	}
	.delete__modal__container {
		width: 90%;
	}
		.favorite__modal .modal__container {
			width: 90%;
		}
	  .card {
    width: 100%;
  }

  .swiper-scrollbar {
    top: 3% !important;
  }
	.footer__content {
		flex-direction: column;
		gap: 2rem;
	}
	.footer__content__left {
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.footer__content__title:first-of-type {
		width: 100%;
		text-align: center;
		margin-bottom: 0;
	}
	.footer__content__middle {
		width: 100%;
		align-items: center;
	}
	.footer__links__container {
		width: 100%;
		justify-content: space-around;
	}
	.footer__content__right {
		width: 100%;
		margin-top: 0;
		gap: 1rem;
	}
	.social__media__links {
		margin-block: 0;
	}
	.download__app__actions {
		justify-content: center;
	}
}
@media (max-width: 550px) {
	.search {
		gap: 0.5rem;
	}
	.government__label,
	.categories__label {
		width: 100%;
	}
	.search__label {
		width: 82%;
	}
	.search__btn {
		width: 15%;
	}
	.featured__ads .main__card,
	.latest__ads .main__card {
		width: 100%;
	}
}
@media (max-width: 500px) {
	.report__modal__container {
		width: 95%;
	}
	.delete__modal__container {
		width: 95%;
	}
		.favorite__modal .modal__container {
			width: 95%;
		}
	.modal__content {
		padding-inline: 1rem;
	}
	.contact__number,
	.whatsapp__number,
	.website__link,
	.instagram__link {
		gap: 0.5rem;
	}
  .navbar {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.navbar__logo {
		order: 0;
		margin-right: auto;
	}
	.navbar__list {
		order: 2;
	}
  .account {
    order: 1;
  }
  .account__details {
    margin-left: 0;
    padding-left: 0;
  }
  .account__details::before {
    display: none;
  }
	.add__ads {
		order: 3;
    margin-inline: auto;
	}	
}
@media (max-width: 460px) {
	:root {
		--container--padding: 1rem;
	}
	.navbar__list {
		width: 100%;
		margin-inline: 0;
		gap: 0.5rem;
		justify-content: space-between;
	}
	.navbar__tab {
		padding-inline: 0;
	}
	.country {
		gap: 0.5rem;
	}
	.language {
		padding-left: 0.5rem;
	}
	.social__links {
		gap: 0.25rem;
	}
	.social__link:nth-child(3) {
		margin-right: 0;
	}
	.login__btn {
		padding-inline: 0.5rem 0.25rem;
	}
	.categories__card {
		width: 47%;
	}
	.navbar__tab {
		position: unset;
	}
	.modal__footer {
		justify-content: center;
	}
	.contact__number,
	.whatsapp__number,
	.website__link,
	.instagram__link {
		width: 100%;
		gap: 2rem;
	}
}
