.select-category__modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #00000025;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.select-category__modal .modal__container {
  width: 90vw;
  background-color: #fff;
  height: 90vh;
  border-radius: 1rem;
  box-shadow: 0 0 8px 2px #00000025;
}

.select-category__modal .modal__header {
  padding: 2rem;
  border-bottom: 1px solid #c4c4c4;
}

.select-category__modal .modal__header p {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.select-category__modal .modal__content {
  width: 100%;
  height: 87.5%;
  /* border: 1px solid #000; */
  overflow: hidden;
  display: flex;
  padding: 0;
  flex-direction: row;
  gap: 0;
}

.select-category__modal .menu,
.select-category__modal .submenu,
.select-category__modal .submenu2,
.select-category__modal .submenu3,
.select-category__modal .submenu4 {
  width: calc(100% / 5);
  height: 100%;
}

.select-category__modal .submenu,
.select-category__modal .submenu2,
.select-category__modal .submenu3,
.select-category__modal .submenu4 {
  display: none;
}

.select-category__modal .menu__link,
.select-category__modal .submenu__link,
.select-category__modal .submenu2__link,
.select-category__modal .submenu3__link,
.select-category__modal .submenu4__link {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #E3E7EF;
}

.select-category__modal .menu__link:hover,
.select-category__modal .submenu__link:hover,
.select-category__modal .submenu2__link:hover,
.select-category__modal .submenu3__link:hover,
.select-category__modal .submenu4__link:hover {
  background-color: #53B5531A;
}

.select-category__modal .menu__link img,
.select-category__modal .submenu__link img,
.select-category__modal .submenu2__link img,
.select-category__modal .submenu3__link img,
.select-category__modal .submenu4__link img {
  width: 12px;
}

.select-category__modal .modal__arrow {
  margin-right: auto;
  transform: rotate(180deg);
}

.select-category__modal .active {
  background-color: #53B5531A;
}

.select-category__modal .back {
  /* display: flex; */
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #E3E7EF;
  margin: 0;
  cursor: pointer;
  display: none;
}

.select-category__modal .back__arrow {
  /* width: 10px; */
  /* transform: rotate(180deg); */
}

.select-category__modal img {
  width:20px !important;
}

.navbar__link img {
  transform: rotate(90deg);
}


@media (max-width: 1400px) {
  .select-category__modal .modal__container {
    width: 50vw;
  }
  .select-category__modal .modal__content {
    position: relative;
  }
  .select-category__modal .menu,
  .select-category__modal .submenu,
  .select-category__modal .submenu2,
  .select-category__modal .submenu3,
  .select-category__modal .submenu4 {
    background-color: #fff;
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    top: 0;
    right: 0;
    height: 78vh;
    border: 0;
    border-radius: 1rem;
  }

  .select-category__modal .back {
    display: flex;
  }
}

@media (max-width: 1000px) {
  .select-category__modal .modal__container {
    width: 70vw;
  }
}

@media (max-width: 700px) {
  .select-category__modal .modal__container {
    width: 90vw;
  }
}

@media (max-width: 450px) {
  .select-category__modal .modal__container {
    width: 95vw;
  }
}